Support the SOCKS5 protocol

Add support for the SOCKS5 protocol as defined in RFC1928.

The following RFCs should also be evaluated for possible inclusion:
* RFC1929: Username/Password Authentication for SOCKS V5
* RFC1961: GSS_API Authentication Method for SOCKS Version 5

Support for the Socks5Input and Socks5Output have been added as of commit b503239e64f2270a3a71c6a0ae3e167b5a0ce392.